#taskImg {
    height: 350px;
    width: 450px;
}

html {
    background-color: aliceblue;
}

input[type=checkbox] {
    display: none;
}

.chBoxGroup span {
    position: relative;
    display: inline-block;
    width: 25px;
    line-height: 10px;
    font-size: 15px;
    border: 0;
    background-color: white;
    border-radius: 10px;
    padding-bottom: 1%;
    padding-top: 1%;
}

.chBoxGroup input:checked ~ span {
    background-color: aqua;
}

input[type=text] {
    outline-style: solid;
    outline-width: 2px;
    outline-color: aqua;
    box-shadow: none;
}

#mainTable{
    text-align: center;
    align-content: center;
    width: 100%;
    border-style: solid;
    border-width: thin;
    border-color: black;
}

header {
    tab-size: 15px;
    font-weight: bold;
    text-align: center;
    background: aqua;
    font-family: sans-serif;
}

#menu {
    line-height: 3;
}

button {
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    background-color: white;
    border-width: 0;
    box-shadow: none;
    border-radius: 30px;
}

button:hover {
    background-color: aqua;
    border-width: 0;
    box-shadow: none;
}

#resultTable{
    text-align: center;
    align-content: center;
    width: 100%;
    border-style: solid;
    border-width: thin;
    border-color: black;
}

line{
    stroke: black;
    font-size: 10px;
}

.figure {
    fill: aqua;
    opacity: 60%;
}